<!-- HTML for To-Do List Project -->
<%- include("partials/header.ejs") %>

<header>
    <div class="top">   
        <div class="calendar">
            <img class="cal-img" src="/static/calendar.png" alt="calendar"/>
            <a href="/" alt="briefcase">Today</a>
        </div>
        <div class="briefcase">
            <img class="brief-img" src="/static/briefcase.png" alt="briefcase"/>
            <a href="/work">Work</a>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div id="heading">
            </hr>
            <h1 id="display-head"><%= title %></h1>
            </hr>
        </div>
        <form action="/" method="POST">
            <input id="input-box" type="text" name="newTask" placeholder="New Task">
            <button type="submit" name="addButton" value="<%= title %>" id="submitButton">+</button>
            <% if (locals.tasks) { %>
               <% tasks.forEach((task)=>{ %>
                    <div class="task-item">
                        <input name="checkbox" data-item-id="<%= task._id %>" type="checkbox" id="task1">
                        <label><h2><%= task.name %></h2></label>
                        <input type="hidden" name="listName" value="<%=title%>"></input>
                    </div>  
               <% }); %>
            
            <% } else { %>
                <p>New Task</p>
            <% } %>
        </form>
        <script>
            $(document).ready(function () {
                $('input[type="checkbox"]').change(function () {
                    const itemId = $(this).attr('data-item-id');
                    const $itemToDelete = $(this).closest('.task-item'); // Get the parent item
                    $.post('/delete', { itemId }, function (data) {
                        // Handle the response if needed
                        // You can update the UI to strike off the item here
                        $itemToDelete.remove(); // Remove the item from the UI
                    });
                });
            });
        </script>
        
        <div class="box"></div>
    </div>
</main>


<%- include("partials/footer.ejs") %>